<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGC_GRUPO4.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database1.mdb"
            providerName="System.Data.OleDb" />
        <add name="SGC_GRUPO4.Properties.Settings.SisEvaConnectionString"
            connectionString="Data Source=WINDOWS-LDDVVMF\SQLEXPRESS;Initial Catalog=SisEvaluacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SGC_GRUPO4.Properties.Settings.SisEvaluacionConnectionString"
            connectionString="Data Source=WINDOWS-LDDVVMF\SQLEXPRESS;Initial Catalog=SisEvaluacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>